/**
 * Hero
 *
 */
.hero {
    margin-top: 1.5rem;
    text-align: center;
}

.carousel {
    color: #fff;
    
    .carousel-subtitle {
        margin: 0 0 .5rem 0;
        font-family: $charlie-font;
        font-weight: 400;
        font-size: 1.5rem;
    }

    .carousel-title {
        margin: 0;
        text-transform: uppercase;
        font-size: 2.5rem;
    }

    .button {
        display: inline-block;
        padding: 0.75rem 1.875rem;
        border: 3px solid #fff;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    .button:hover {
        border-color: #fce38a;
        color: #fce38a;
    }
}

.carousel-controls {
    margin-top: 1.5rem;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    li {
        width: 23%;
        color: #fff;
        text-align: left;
        text-transform: uppercase;
    }

    b {
        font-family: $beta-font;
    }
}

@media screen and ( min-width: 992px ) {
    
    .carousel {
        margin-top: 10rem;

        .carousel-subtitle {
            margin: 0 0 2.6rem 0;
            font-size: 4.5rem;
        }
    
        .carousel-title {
            margin: 0;
            font-size: 10rem;
        }
    }

    .carousel-controls {
        margin-top: 9.75rem;
        
        b {
            font-size: 1.5rem;
        }

        p {
            font-size: 1.125rem;
        }
    }

}

/**
 * Section Header
 *
 */
.section-header {
    margin-bottom: 2.6rem;
    text-align: center;
    
    .sub-title {
        font-family: $charlie-font;
        font-weight: 400;
        font-size: 1.5rem;
        color: #333;
    }

    .title {
        margin-top: .5rem;
        font-family: $beta-font;
        font-size: 1.375rem;
        text-transform: uppercase;
        color: #333;
    }
}

@media screen and ( min-width: 992px ) {
    
    /** Section Header */
    .section-header {
        max-width: 937px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 5.375rem;
    
        .title {
            font-size: 1.875rem;
        }
    }

}

/**
 * Red Rectangle Between Section Headers and Section Content
 *
 */
.divider {
    margin: 1.5rem auto;
    width: 100%;

    .default {
        margin: 0 auto;
        width: 60px;
        height: 3px;
        background: #fff;
    }

    .custom {
        margin: 0 auto;
        width: 60px;
        height: 3px;
        background: #f38181;
    }

    .custom-left {
        width: 60px;
        height: 3px;
        background: #f38181;
    }
}

.divider-left {
    margin: .75rem auto;
    width: 100%;

    .custom {
        width: 60px;
        height: 3px;
        background: #f38181;
    }

}

.services-divider {
    display: none;
}


@media screen and ( min-width: 992px) {
    
    .divider {
        margin-top: 2.625rem;
        margin-bottom: 2.625rem;
    }

    .divider-left {
        margin-top: 1.25rem;
        margin-bottom: 1.5rem;
    }

    .services-divider {
        display: block;
        grid-column: 1/4;
        height: 1px;
        background-color: #e5e5e5;
    }

}


/**
 * What we do
 * Story About Us
 */
.about-image {
    text-align: center;

    a {
        display: block;
    }
}

.counter {
    margin-top: 2rem;
    background: #95e1d3;
}

.counter-list {
    li {
        padding: 1rem;
        color: #fff;
        font-size: 0.875rem;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);

        span {
            display: block;
            font-family: $beta-font;
            font-size: 1.875rem;
            font-weight: 700;
        }
    }
}

@media screen and ( min-width: 992px ) {
    
    .counter {
        margin-top: 5.6rem;
    }

    .counter-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        li {
            width: 20%;
            padding: 4.6rem 0 5.2rem 0;
            border-bottom: 0;
            border-right: 1px solid rgba(255, 255, 255, 0.4);

            span {
                font-size: 4.5rem;
                font-weight: 700;
            }
        }

        li:first-child {
            border-left: 1px solid rgba(255, 255, 255, 0.4);
        }
    }

}


/**
 * We work with
 * Amazing Services
 */
.service {
    margin-top: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .service-icon {
        margin-right: 1.75rem;
        color: #95e1d3;
        font-size: 2rem;
    }

    .service-content {
        
        h4 {
            color: #333;
            font-weight: 500;
            text-transform: uppercase;
        }

    }
}


/** 
 * For all devices
 * Unique Design
 */
.services-feature {
    margin-top: 2rem;
    padding-bottom: 0;

    @include background-overlay('../img/template/devices-bg.png');
}

.services-feature-img {
    position: relative;
    margin-top: -91px;
    margin-left: auto;
    margin-right: auto;
    max-width: 599px;
    bottom: -91px;
}

/**
 * Service
 * What We Do
 */
.services-details {
    margin-top: 3.6rem; /** Added Margin To Compensate For The Negative Bottom Position Of The Mobile Phone Image */
}

.service-details-img {
    display: none;
}

@media screen and ( min-width: 640px ) {
    
    .service {
        margin-top: 0;
    }

}

@media screen and ( min-width: 768px ) {
    .service-details-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
    }

    .service-details-img {
        display: block;
        background: url(../img/photos/service.png) no-repeat center;
        background-size: cover;
    }
}

@media screen and ( min-width: 992px ) {
    
    .services-feature {
        margin-top: 6.2rem;
    }
    
    .services-details {
        margin-top: 1.6rem; /** Decrease Margin B/C Of Increased Padding */
    }

}


/** Accordion */
.accordion {
    margin-top: 2rem;
    
    i {
        color: #95e1d3;
        font-size: 2rem;
    }

}

.accordion-panel {
    position: relative;
    margin-bottom: 0.625rem;
    padding: 0.875rem 0;
    border: 1px solid #e5e5e5;
}

.accordion-panel:last-child {
    margin-bottom: 0;
}

.accordion-panel-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1rem;

    h4 {
        margin-left: 0.9375rem;
        text-transform: uppercase;
        color: #333;
        font-weight: 400;
    }
}

.accordion-panel-body {
    display: none;
}

.accordion-panel.active {
    
    .accordion-panel-header::before {
        content: '\f106';
        font-family: 'FontAwesome';
        font-size: 2rem;
        position: absolute;
        right: 2rem;
    }

    .accordion-panel-header {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 0.875rem;
    }

    .accordion-panel-body {
        display: block;
        max-height: 140px;
        overflow-y: scroll;
        padding-left: 0.875rem;
        padding-right: 3.25rem;
        font-style: italic;
    }

}

.accordion-panel-header::before {
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 2rem;
    position: absolute;
    right: 2rem;
}

/** Scrollbar On Panels */
.accordion-panel.active .scrollbar-container {
    position: absolute;
    right: 24px;
    bottom: 14px;
    top: 74px;
    width: 5px;
    background: #f5f5f5;
    border-radius: 10px;
}

.accordion-panel.active .scrollbar {
    position: absolute;
    right: 0;
    height: 30px;
    width: 5px;
    border-radius: 10px;
    background: #95e1d3;
}

/** Hide Scrollbar on Chrome */
.accordion-panel-body::-webkit-scrollbar {
    display: none;
}

/** Hide Scrollbar on IE */
.accordion-panel-body {
    -ms-overflow-style: none;
}

/** Hide Scrollbar on Firefox */
@-moz-document url-prefix() {
    .accordion-panel.active {
        overflow: hidden;
    }

    .accordion-panel.active .accordion-panel-body {
        margin-right: -17px;
    }
}

@media screen and ( min-width: 768px ) {

    .accordion {
        margin-top: 0;
    }
    
}


/**
 * Testimonials Carousel Section
 *
 */
.testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.prev-testimonial,
.next-testimonial {
    padding: 0.5rem;
    cursor: pointer;
}

.prev-testimonial .fa,
.next-testimonial .fa {
    font-size: 2.4rem;
    color: #ccc;
}

.testimonial-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1rem;
}

.testimonials-text blockquote {
    margin: 0;
    font-style: italic;
}

.testimonials-text p {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
}

.testimonials-text p::before {
    content: open-quote;
}

.testimonials-text p::after {
    content: close-quote;
}

.testimonials-icon {
    display: none;
}

.testimonials cite {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0.7rem;
    font-family: $charlie-font;
    color: #333;
}

.testimonials cite::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 3px;
    margin-right: 1rem;
    background-color: #f38181;
}

@media screen and ( min-width: 992px ) {

    .prev-testimonial,
    .next-testimonial {
        padding: 1.6rem;
        cursor: pointer;
    }

    .testimonial-content {
        padding: 0 3rem;
    }

    .testimonials-text p,
    .testimonials-text cite {
        font-size: 1.5rem;
    }

}

@media screen and ( min-width: 1200px ) {

    .testimonials-icon {
        display: block;
        margin-right: 4.2rem;
    }
    
    .testimonials-icon .fa {
        display: block;
        padding: 2.625rem;
        border: 3px solid #95e1d3;
        color: #95e1d3;
        font-size: 3.6rem;
    }

    .testimonials-icon.w-img {
        margin-right: 2rem;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    .testimonials-icon.w-img img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

}


/**
 * Who we are
 * Meet Our Team
 */
.team-list-item {
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
    
    h4 {
        margin-top: 1rem;
        color: #333;
        font-weight: 400;
        text-transform: uppercase;
    }

    span {
        display: block;
        margin-top: .4rem;
        font-style: italic;
        font-weight: 300;
    }

}

.team-list-item:last-child {
    margin-bottom: 0;
}

@media screen and ( min-width: 992px ) {

    .team-list-item {
        margin-bottom: 0;
        
        h4 {
            margin-top: 1.5rem;
        }

        span {
            margin-top: .6rem;
        }

    }

}


/**
 * Clients Logo
 *
 */
.clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.clients-list-item {
    width: 33.33%;
    text-align: center;
}

.clients-list-item:nth-child(1),
.clients-list-item:nth-child(2),
.clients-list-item:nth-child(3) {
    margin-bottom: 1rem;
}

.clients-list-item:nth-child(4),
.clients-list-item:nth-child(5),
.clients-list-item:nth-child(6) {
    margin-top: 1rem;
}

@media screen and ( min-width: 992px ) {

    .clients-list-item {
        width: 16.6667%;
    }

    .clients-list-item:nth-child(1),
    .clients-list-item:nth-child(2),
    .clients-list-item:nth-child(3) {
        margin-bottom: 0;
    }
    
    .clients-list-item:nth-child(4),
    .clients-list-item:nth-child(5),
    .clients-list-item:nth-child(6) {
        margin-top: 0;
    }

}


/**
 * What we do
 * Some Of Our Work
 */
.work-list-item {

    a {
        display: block;

        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
        
    }

}


/**
 * Happy clients
 * What People Say
 */
.happy-clients {
    padding-bottom: 2rem;
    
    @include background-overlay('../img/template/clients-bg.png');
}

.customer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.125rem;
}

.customer:last-child {
    margin-bottom: 0;
}

.customer-avatar {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 1.75rem;
}

.customer-testimonial {

    h4 {
        text-transform: uppercase;
        color: #333;
    }

    span {
        display: block;
        margin-top: .5rem;
        font-style: italic;
        font-weight: 300;
        color: #333;
    }

}

@media screen and ( min-width: 992px ) {

    .happy-clients {
        padding-bottom: 5.625rem;
    }

    .customer {
        margin-bottom: 4.25rem;
    }

}


/**
 * Our Stories
 * Latest blog
 */
.blog {
    margin-bottom: 2.125rem;
}

.blog-img {
    position: relative;

    img {
        width: 100%;
    }
}

.blog-date {
    position: absolute;
    left: -10px;
    bottom: 10px;
    padding: .8rem 1rem;
    background-color: #95e1d3;
    color: #fff;

    h4 {
        font-size: 1.875rem;
        font-weight: 700;
    }

    span {
        font-weight: 300;
        font-style: italic;
    }
}

.blog-title {
    margin-top: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #333;
}

.blog-info {

    li {
        margin-right: 1rem;
        display: inline-block;

        .fa {
            margin-right: 0.375rem;
            color: #95e1d3;
        }
    }

}

/**
 * Open Map
 *
 */
.map {
    @include background-overlay('../img/template/clients-bg.png');
}

.open-map {
    text-align: center;
    
    .fa {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 24*$px;
        margin-top: 1rem;
        text-transform: uppercase;
    }

    a {
        color: #f38181;
    }

    .divider {
        margin-top: 1.2rem;
        margin-bottom: 0;
    }
}