@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,500,600,700|Roboto:300,400');

$alpha-font: 'Roboto', sans-serif;
$beta-font: 'Montserrat', sans-serif;
$charlie-font: 'Kaushan Script', cursive;
